[submodule "radar_mvp/src/modules/third_party/yaml-cpp"]
	path = radar_mvp/src/modules/third_party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "radar_mvp/third_party/googletest"]
	path = radar_mvp/third_party/googletest
	url = https://github.com/google/googletest.git
